.profile {
    padding: 16px;
    background-color: rgba(245, 245, 245, 0.75);
    border-radius: 100%;
    width: max-content;
}

.profileContainer {
    display: flex;
    justify-content: center;
}