.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;

}

.item {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;

}

.content_container {
  width: 100%;
}


@media screen and (min-width: 576px) and (max-width: 1200px) {
  .item {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (min-width:1200px) {
  .item {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
  }
}


.gradient__bg {
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 3% 25%,
    var(--color-bg ) 0%,
    var(--color-footer) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    var(--color-bg ) 0%,
    var(--color-footer) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    var(--color-bg ) 0%,
    var(--color-footer) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    var(--color-bg ) 0%,
    var(--color-footer) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    var(--color-bg ) 0%,
    var(--color-footer) 100%
  );
}
