@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font-family: "Roboto", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);
  /* CSS HEX */
  --color-bg: #001514;
  --color-footer: #6b6144;
  --color-subtext: #bdab79;
  --color-text: #ecf0f1;
  --color-highlight: #e24e1b;
  --color-blog: #721121;
  --color-nav: #778ca3;

  /* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #001514ff, #6b6144ff, #bdab79ff, #e24e1bff, #721121ff);
$gradient-right: linear-gradient(90deg, #001514ff, #6b6144ff, #bdab79ff, #e24e1bff, #721121ff);
$gradient-bottom: linear-gradient(180deg, #001514ff, #6b6144ff, #bdab79ff, #e24e1bff, #721121ff);
$gradient-left: linear-gradient(270deg, #001514ff, #6b6144ff, #bdab79ff, #e24e1bff, #721121ff);
$gradient-top-right: linear-gradient(45deg, #001514ff, #6b6144ff, #bdab79ff, #e24e1bff, #721121ff);
$gradient-bottom-right: linear-gradient(135deg, #001514ff, #6b6144ff, #bdab79ff, #e24e1bff, #721121ff);
$gradient-top-left: linear-gradient(225deg, #001514ff, #6b6144ff, #bdab79ff, #e24e1bff, #721121ff);
$gradient-bottom-left: linear-gradient(315deg, #001514ff, #6b6144ff, #bdab79ff, #e24e1bff, #721121ff);
$gradient-radial: radial-gradient(#001514ff, #6b6144ff, #bdab79ff, #e24e1bff, #721121ff);*/
}

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

/* unvisited link */
a:link {
  color: var(--color-bg);
}

/* visited link */
a:visited {
  color: var(--color-text);
}

/* mouse over link */
a:hover,
svg:hover {
  color: var(--color-nav);
  fill: var(--color-bg);
}

/* selected link */
a:active,
svg:active {
  color: var(--color-bg);
}

a,
svg,
a:link {
  transition: color 0.5s;
  transition: fill 0.5s;
  fill: var(--color-text);
  color: var(--color-text);
}



p {
  padding-left: 8px;
  padding-right: 8px;
  font-size: large;
}

.textBox {
  border: #ecf0f11b 3px solid;
  border-radius: 5px;
  padding: 8px;
}

h1,
h2,
h3 {
  color: #bdab79;
  margin-bottom: 8px;
  text-align: initial;
  padding-left: 8px;
  padding-right: 8px;
}

ul {
  margin-left: 16px;
}